<div class="promo">
  <div class="promo-wrapper">
    <div class="promo-container">
      <div class="img">
        <img src="assets/images/home/compra.png" alt="">
      </div>
      <div class="text-content">
        <div class="title">
          <h3>Descuento de</h3>
          <h2>Q50.00</h2>
          <h3>en tu primera compra</h3>
        </div>
        <div class="code">
          <div class="box">
            <p>Ingresa el código</p>
            <p>primera-compra</p>
          </div>
          <p>Aplica en compras mayores de Q150.00<br>La promoción aplica en primera<br>compra en clientes nuevos</p>
        </div>
      </div>

      <div class="img">
        <img src="assets/images/home/caja-2.png" alt="">
      </div>

    </div>
  </div>
</div>