@import '../../../../variables.scss';
.list-group {
  .list-group-item {
    text-transform: capitalize;
    a {
      color: $primary;
      text-decoration: none;
    }
  }
  .active {
    background-color: $primary;
    border-color: $primary;
    a {
      color: $white;
      text-decoration: none;
    }
  }
}
