<div class="py-1 bg-primary up-head">
    <div class="container">
        <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
            <div class="col-lg-12 d-block">
                <div class="row d-flex">
                    <div class="col-md pr-4 d-flex topper align-items-center">
                        <div class="icon mr-2 d-flex justify-content-center align-items-center">
                            <span class="icon-phone2"><i class="fas fa-phone-alt"></i></span></div>
                        <span class="text">+ 502 51430832</span>
                    </div>
                    <div class="col-md pr-4 d-flex topper align-items-center">
                        <div class="icon mr-2 d-flex justify-content-center align-items-center">
                            <span class="icon-paper-plane"><i class="fas fa-paper-plane"></i></span></div>
                        <span class="text">info@vegefoods.com</span>
                    </div>
                    <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
                        <span class="text">Entregamos los 7 dias de la semana</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" routerLink="/inicio">Vegefoods</a>
        <!-- <li class="navbar-brand"><a routerLink="/busqueda/q=" class="nav-link"><i class="fas fa-search"></i></a> -->
        <button (click)="redirectBuscar()" class="navbar-toggler" type="button">
            <i class="fas fa-search"></i>
        </button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" routerLinkActive="active"><a routerLink="/inicio" class="nav-link">Inicio</a></li>
                <!-- <li class="nav-item"><a href="#" class="nav-link">Tienda</a></li> -->
                <li class="nav-item dropdown" routerLinkActive="active">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Tienda</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown04">
                        <a class="dropdown-item" routerLink="/productos/categoria/frutas">Frutas</a>
                        <a class="dropdown-item" routerLink="/productos/categoria/verduras">Verduras</a>
                        <a class="dropdown-item" routerLink="/productos/categoria/semillas">Semillas</a>
                        <a class="dropdown-item" routerLink="/productos/categoria/especies">Especias</a>
                        <a class="dropdown-item" routerLink="/productos/categoria/jugos">Jugos</a>
                        <a class="dropdown-item" routerLink="/productos/categoria/combos">Combos</a>
                    </div>
                </li>
                <!-- <li class="nav-item"><a routerLink="/contacto" class="nav-link">Contacto</a></li> -->
                <!-- <li class="nav-item"><a href="about.html" class="nav-link">About</a></li> -->
                <li class="nav-item cta cta-colored">
                    <a routerLink="/cart" class="nav-link">
                        <span class="icon-shopping_cart">
                            <i class="fas fa-shopping-cart"></i>
                        </span>[{{ total$ | async }}]
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle"></i></a>
                    <div class="dropdown-menu" aria-labelledby="dropdown04">
                        <a *ngIf="!isloggedIn" class="dropdown-item" routerLink="/auth/login">Iniciar sesión</a>
                        <a *ngIf="!isloggedIn" class="dropdown-item" routerLink="/auth/register">Crear cuenta</a>
                        <a *ngIf="isloggedIn" class="dropdown-item" routerLink="/cuenta/perfil">Mi Cuenta</a>
                        <a *ngIf="isloggedIn" class="dropdown-item pointer" (click)="logout()">Cerrar sesión</a>
                    </div>
                </li>


                <li class="nav-item icono-buscar"><a routerLink="/busqueda/q=" class="nav-link"><i
                            class="fas fa-search"></i></a>
                </li>
            </ul>

            <!-- <div class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </div> -->
            <!-- <div class="search-input">
                <input #input (keyup.enter)="buscar( input.value )" type="text" placeholder="Buscar producto">
                <div (click)="buscar(input.value)" class="icon-search pointer">
                    <i class="fas fa-search"></i>
                </div>
            </div> -->

        </div>
    </div>
</nav>