<nav class="navbar">
    <div class="nav-wrapper">
        <div class="content">
            <div class="logo" routerLink="/inicio">
                <img src="assets/images/logos/vegetalgo-logo.png" alt="Vegetal Go tu mercado en linea a precio de mercado" />
            </div>
            <div class="menu-content">
                <div class="menu-list">
                    <div class="icon cancel-btn">
                        <i class="fas fa-times"></i>
                    </div>

                    <li (click)="removeClases()" class="active">
                        <a routerLinkActive="active" routerLink="/inicio">Inicio</a>
                    </li>
                    <li class="nav-link">
                        <a class="m-tienda pointer">Tienda <i class="fas fa-caret-down"></i></a>
                        <div class="dropdown tienda">
                            <ul>
                                <li (click)="removeClases()" class="dropdown-link dropdown-link-tienda">
                                    <a routerLink="/productos/categoria/frutas">Frutas</a>
                                </li>
                                <li (click)="removeClases()" class="dropdown-link dropdown-link-tienda">
                                    <a routerLink="/productos/categoria/verduras">Verduras</a>
                                </li>
                                <li (click)="removeClases()" class="dropdown-link dropdown-link-tienda">
                                    <a routerLink="/productos/categoria/semillas">Semillas</a>
                                </li>
                                <li (click)="removeClases()" class="dropdown-link dropdown-link-tienda">
                                    <a routerLink="/productos/categoria/especias">Especias</a>
                                </li>
                                <li (click)="removeClases()" class="dropdown-link dropdown-link-tienda">
                                    <a routerLink="/productos/categoria/carnes">Carnes</a>
                                </li>
                                <li (click)="removeClases()" class="dropdown-link dropdown-link-tienda">
                                    <a routerLink="/productos/categoria/orgánicos">Orgánicos</a>
                                </li>
                                <li (click)="removeClases()" class="dropdown-link dropdown-link-tienda">
                                    <a routerLink="/productos/categoria/varios">Varios</a>
                                </li>
                                <!-- <div class="arrow"></div> -->
                                <div class=""></div>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-link">
                        <a  class="m-cuenta pointer">Mi cuenta <i class="fas fa-caret-down"></i></a>
                        <div class="dropdown cuenta">
                            <ul>
                                <li (click)="removeClases()" *ngIf="!isloggedIn" class="dropdown-link dropdown-link-cuenta">
                                    <a routerLink="/auth/login">Iniciar sesión</a>
                                </li>
                                <li (click)="removeClases()" *ngIf="!isloggedIn" class="dropdown-link dropdown-link-cuenta">
                                    <a class="dropdown-link-cuenta" routerLink="/auth/register">Crear cuenta</a>
                                </li>

                                <li (click)="removeClases()" *ngIf="isloggedIn" class="dropdown-link dropdown-link-cuenta">
                                    <a routerLink="/cuenta/pedidos">Mis pedidos</a>
                                </li>
                                <li (click)="removeClases()" *ngIf="isloggedIn" class="dropdown-link dropdown-link-cuenta">
                                    <a routerLink="/cuenta/perfil">Mi Cuenta</a>
                                </li>
                                <li (click)="removeClases()" *ngIf="isloggedIn" class="dropdown-link-cuenta dropdown-link">
                                    <a (click)="logout()" href="#">Cerrar Sesión</a>
                                </li>
                                <div class=""></div>
                            </ul>
                        </div>
                    </li>
                    <li (click)="removeClases()">
                        <a routerLink="/cart" routerLinkActive="active"><i class="fas fa-shopping-cart"></i>[{{ total$ | async }}]</a>
                    </li>
                    <li (click)="removeClases()">
                        <a routerLink="/busqueda/q=" routerLinkActive="active" ><i class="fas fa-search"></i></a>
                    </li>
                </div>
                <div class="navbuttons">
                    <div class="icon search-btn" (click)="redirectBuscar('search')">
                        <i class="fas fa-search"></i>
                    </div>
                    <div class="icon cart-btn" (click)="redirectBuscar('cart')">
                        <i class="fas fa-shopping-cart"></i> <small>[{{ total$ | async }}]</small>
                    </div>
                    <div class="icon menu-btn">
                        <i class="fas fa-bars"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
