@import '../../../../../variables.scss';

.proveedor-container {
  background-color: #ebebeb;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 70vh;
  .container {
    background: $white;
    border-top: 3px solid $primary;
    .contenido {
      margin-top: 15px;
      padding-bottom: 20px;
      .example-form {
        min-width: 300px;
        max-width: 500px;
        width: 100%;
        .example-full-width {
          width: 100%;
        }
      }
    }
  }
}
