<section class="banner-section">
    <div class="cover">
        <div class="content container">
            <div class="content-grid">
                <div class="title">
                    <h2>La mejor selección de productos</h2>
                </div>
                <div class="icons-left">
                    <div class="icon organic">
                        <a routerLink="/productos/categoria/orgánicos">Orgánicos
                            <img src="assets/images/home/icono-organicos.png" alt="" /></a>
                    </div>
                    <div class="icon veggie">
                        <a routerLink="/productos/categoria/verduras">Verduras <img
                                src="assets/images/home/icono-verduras.png" alt="" /></a>
                    </div>
                    <div class="icon fruits">
                        <a routerLink="/productos/categoria/frutas">Frutas <img
                                src="assets/images/home/icono-frutas.png" alt="" /></a>
                    </div>
                </div>
                <div class="image-principal">
                    <div class="image">
                        <img src="assets/images/home/caja.png" alt="" />
                    </div>


                </div>
                <div class="icons-right">
                    <div class="icon seed">
                        <a routerLink="/productos/categoria/semillas"><img src="assets/images/home/icono-semillas.png"
                                alt="" />
                            Semillas</a>
                    </div>
                    <div class="icon spices">
                        <a routerLink="/productos/categoria/especias"><img src="assets/images/home/icono-especias.png"
                                alt="" />
                            Especias</a>
                    </div>
                    <div class="icon meats">
                        <a routerLink="/productos/categoria/carnes"><img src="assets/images/home/icono-carnes.png"
                                alt="" />
                            Carnes</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- ==================================================================== -->
    <!-- Cards de promos -->
    <!-- ==================================================================== -->
    <div class="card-promos">
        <ng-container *ngIf="promos$ | async as promos">
            <ng-container *ngFor="let item of promos">
                <div class="rect animated fadeInDown" (click)="naviagatePromo(item.url)">
                    <h5>
                        {{item.titleCard}} <br />
                        <span>{{ item.subtitleCard }}</span>
                    </h5>
                    <img [src]="item.image" alt="" />
                    <h6>{{ item.name}}</h6>
                    <div class="subtitle" *ngIf="item.precio !== 0">
                        <div>Antes <strong style="text-decoration: line-through;">Q{{ item.descuento | number: '1.2':'en'}}</strong> Ahora <strong>Q{{ item.precio | number: '1.2':'en' }}</strong>
                        </div>
                    </div>
                    <span>Comprar</span>
                </div>
            </ng-container>
        </ng-container>
<!--         <ng-container *ngFor="let item of dataCards">
            <div class="rect" (click)="naviagatePromo(item.url)">
                <h5>
                    {{item.titleCard}} <br />
                    <span>{{ item.subtitleCard }}</span>
                </h5>
                <img [src]="item.image" alt="" />
                <h6>{{ item.name}}</h6>
                <div class="subtitle" *ngIf="item.precio !== 0">
                    <div>Antes <strong style="text-decoration: line-through;">Q{{ item.descuento | number: '1.2':'en'}}</strong> Ahora <strong>Q{{ item.precio | number: '1.2':'en' }}</strong>
                    </div>
                </div>
                <span>Comprar</span>
            </div>
        </ng-container> -->
    </div>
</section>