<div class="register">
    <div class="r-wrapper">
        <div class="r-content">
            <div class="title">
                <h3>crear nueva cuenta</h3>
            </div>
            <form [formGroup]="formRegister" class="form">
                <div class="my-form">
                    <label>Ingrese su nombre</label>
                    <input formControlName="firstName" type="text" placeholder="Nombre">
                    <span *ngIf="validateField('firstName')">* campo requerido</span>
                </div>
                <div class="my-form">
                    <label>Ingrese su apellido</label>
                    <input formControlName="lastName" type="text" placeholder="Apellido">
                    <span *ngIf="validateField('lastName')">* campo requerido</span>
                </div>
                <div class="my-form">
                    <label>Ingrese su correo electrónico</label>
                    <input formControlName="email" type="email" placeholder="Correo">
                    <span *ngIf="validateField('email')">* requerido, ej: ejemplo@correo.com</span>
                </div>
                <div class="my-form">
                    <label>Ingrese una contraseña</label>
                    <input formControlName="password" type="password" placeholder="Contraseña">
                    <span *ngIf="validateField('password')" >* requerido, la contraseña debe tener minimo 6 caracteres</span>
                </div>
                <div class="options">
                    <div class="remember">
                       <!--  <input type="checkbox" id="remember">
                        <label for="remember">Recordar mi usuario</label> -->
                    </div>
                    <span>¿Ya tienes cuenta? / <strong><a routerLink="/auth/login">ingresar</a></strong></span>
                </div>
                <div class="button">
                    <button (click)="btnCreateAcount()"  class="btn-register">crear</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- <div class="limiter animated fadeInRight">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="login100-form validate-form flex-sb flex-w">

                <span class="login100-form-title p-b-51">
                    Crear nueva cuenta
                </span>

                <span *ngIf="f.submitted && f.controls['email'].errors" class="text-danger animated fadeIn">El correo es
                    obligatorio</span>
                <div class="wrap-input100 m-b-16">
                    <input [(ngModel)]="usuario.email" class="input100" type="email" name="email" placeholder="Correo"
                        required email>

                    <span class="focus-input100"></span>
                </div>

                <span *ngIf="f.submitted && f.controls['nombre'].errors" class="text-danger animated fadeIn">El nombre
                    es
                    obligatorio</span>
                <div class="wrap-input100 m-b-16">
                    <input [(ngModel)]="usuario.nombre" class="input100" type="text" name="nombre"
                        placeholder="Nombre y apellidos" required minlength="3">

                    <span class="focus-input100"></span>
                </div>

                <span *ngIf="f.submitted && f.controls['password'].errors" class="text-danger animated fadeIn">La
                    contraseña debe de ser
                    más de 6 letras</span>
                <div class="wrap-input100 m-b-16">
                    <input [(ngModel)]="usuario.password" class="input100" type="password" name="password"
                        placeholder="Contraseña" required minlength="6">
                    <span class="focus-input100"></span>
                </div>

                <div class="recordar-usuario w-full p-t-3 p-b-24">
                    <div class="contact100-form-checkbox">
                        <input [(ngModel)]="recordarme" class="input-checkbox100" id="ckb1" type="checkbox"
                            name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Recordar mi usuario
                        </label>
                    </div>

                    <div>
                        <a routerLink="/auth/login" class="txt1">
                            ¿Ya tienes cuenta? / Ingresar
                        </a>
                    </div>
                </div>

                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn" type="submit">
                        Crear cuenta
                    </button>
                </div>

            </form>
        </div>
    </div>
</div> -->