@import '../../../../variables.scss';


.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid lighten($black, 94%);
  // position: relative;
  .img-prod {
    // border: 1px solid red;
    position: relative;
    overflow: hidden;
    span.status {
      position: absolute;
      top: 0;
      left: 0;
      padding: 2px 10px;
      color: $white;
      font-weight: 300;
      background: $color-1;
      font-size: 12px;
    }
  }

  .text-prod {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: 1px solid green;
    width: 100%;

    h3 {
      font-size: 14px;
      margin-bottom: 2px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-family: $font-primary;
      text-align: center;
    }

    .pricing {
      color: $primary;
      font-weight: 400;
      span.price-discount {
        text-decoration: line-through;
        color: lighten($black, 70%);
      }
      span.price-sale {
        color: $primary;
      }
    }
  }

  .button-add {
    padding: .5em 1em;
    // border: 1px solid red;

    button {
      height: 32px;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: row;
      background-color: $primary;
      border-radius: 8px;
      color: #fff;
      padding: 8.5px 1em;
      text-align: center;
    }
  }
}

.cursor {
  cursor: pointer;
}
