<div class="product">
    <a routerLink="/producto/{{ producto._id }}" class="img-prod"><img class="img-fluid" [src]="producto.imagen" alt="">
        <!-- <span class="status">30%</span> -->
        <div class="overlay"></div>
    </a>
    <div class="text py-3 pb-4 px-3 text-center">
        <h3><a routerLink="/producto/{{ producto._id }}">{{producto.nombre}}</a></h3>
        <div class="d-flex">
            <div class="pricing">
                <p class="price">
                    <!-- <span *ngIf="producto.descuento > 0.1" -->
                    <span *ngIf="producto.precio < producto.descuento"
                        class="mr-2 price-dc">Q{{producto.descuento | number: '1.2'}}</span>
                    <span class="price-sale">Q{{producto.precio | number: '1.2'}}</span></p>
            </div>
        </div>
        <div class="bottom-area d-flex px-3">
            <div class="m-auto d-flex">
                <!-- <a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                    <span><i class="ion-ios-menu"></i></span>
                </a> -->
                <a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
                    <span><i class="ion-ios-cart"></i></span>
                </a>
                <!-- <a href="#" class="heart d-flex justify-content-center align-items-center ">
                    <span><i class="ion-ios-heart"></i></span>
                </a> -->
            </div>
        </div>
    </div>
</div>