<div class="product">
    <div (click)="abrirModal()" class="img-prod cursor">
        <img class="img-fluid" [src]="producto.imagen | noImage" alt="" />
        <span class="status" *ngIf="producto['deTemporada']">De temporada</span>
    </div>
    <div class="text-prod cursor">
        <h3 (click)="abrirModal()">
            {{ producto.nombre }}
        </h3>
        <div class="pricing">
            <span class="mr-2 price-discount" *ngIf="producto.precio < producto.descuento"
                >Q{{ producto.descuento | number: '1.2':'en' }}</span>
            <span class="price-sale">Q{{ producto.precio | number: '1.2':'en' }}</span>
            c/{{ producto.masa }}
        </div>
    </div>
    <div class="button-add">
        <button class="btn" (click)="abrirModal()">Agregar</button>
    </div>
</div>


<!-- 
    (click)="getProduct(producto._id, producto.categoria)"
 -->