@import '../../../../../variables.scss';

.header-product {
  padding: 5em 0;
  display: flex;
  justify-content: center;
  background-image: url('../../../../../assets/images/bg-1.jpg');
  background-color: #4b4a4a;
  background-blend-mode: soft-light;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  h2 {
    font-weight: 800;
    color: $white;
    font-size: 30px;
    font-family: $font-primary;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}

.product-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: 'a_sidebar a_products';
  .sidebar {
    grid-area: a_sidebar;
  }
  .section-productos {
    grid-area: a_products;
    min-height: 100vh;
    //padding: 25px;
    //display: grid;
    //grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media only screen and (max-width: 768px) {
  .header-product {
    padding: 3em 0;
    h2 {
      font-weight: 600;
      font-size: 22px;
    }
  }

  .product-container {
    grid-template-columns: 1fr;
    grid-template-areas: 'a_products' 'a_sidebar';
  }
}

@media only screen and (max-width: 375px) {
}

/* Modal */
.myModal {
  .overlay {
    background: rgba($color: #000000, $alpha: 0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    // visibility: hidden;
    .popup {
      background: #f8f8f8;
      box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 0.3);
      border-radius: 3px;
      font-family: $font-primary;
      padding: 20px;
      text-align: center;
      // width: 600px;
      max-width: 1000px;

      .btn-close-popup {
        font-size: 20px;
        line-height: 16px;
        display: block;
        text-align: right;
        color: #bbbbbb;
        transition: 0.3s ease all;
        &:hover {
          color: #000000;
        }
      }

      .popup-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;

        grid-template-areas: 'image detail';

        .image {
          grid-area: image;

          img {
            width: 100%;
            vertical-align: text-top;
          }
        }

        .detail {
          grid-area: detail;

          display: flex;
          flex-direction: column;
          justify-content: space-between;
          text-align: start;

          .title-detail-price {
            .detail-title {
              color: #332927;
              font-size: 28px;
              margin-bottom: 10px;
            }

            .detail-text {
              color: #7d7d7d;
              font-weight: 300;
              font-size: 16px;
            }

            .detail-price {
              color: #332927;
              font-size: 24px;
              margin: 5px 0;
              .discount {
                text-decoration: line-through;
                color: #b3b3b3;
                margin-right: 20px;
              }
              .mass {
                font-size: 20px;
                margin-left: 10px;
                color: #b3b3b3;
              }
            }
          }

          .button-add {
            margin-top: 16px;
            padding: 0.5em 1em;
            // border: 1px solid red;

            button {
              height: 32px;
              // width: 100%;
              display: flex;
              align-items: center;
              flex-direction: row;
              background-color: $primary;
              border-radius: 8px;
              color: #fff;
              padding: 8.5px 1em;
              text-align: center;
              border-color: transparent;
              overflow: hidden;
              outline: none;
              cursor: pointer;
              transition: 0.3s ease all;
              &:hover {
                background: rgba($color: $primary, $alpha: 0.8);
              }
            }
          }

          .incrementador {
            width: 150px;
          }
          .options {
            margin-top: 2em;
            width: 90%;

            label {
              font-size: 16px;
              color: #332927;
              margin: 0;
            }

            textarea {
              min-height: 100px !important;
            }
          }
        }
      }
    }
  }

  .overlay.active{
    visibility: hidden;
  }
}
