@import '../../../../../variables.scss';

.header-product {
  padding: 5em 0;
  display: flex;
  justify-content: center;
  background-image: url('../../../../../assets/images/bg-1.jpg');
  background-color: #4b4a4a;
  background-blend-mode: soft-light;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  h2 {
    font-weight: 800;
    color: $white;
    font-size: 30px;
    font-family: $font-primary;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}

.product-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: 'a_sidebar a_products';
  .sidebar {
    grid-area: a_sidebar;
  }
  .section-productos {
    grid-area: a_products;
    min-height: 100vh;
    //padding: 25px;
    //display: grid;
    //grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media only screen and (max-width: 768px) {
  .header-product {
    padding: 3em 0;
    h2 {
      font-weight: 600;
      font-size: 22px;
    }
  }

  .product-container {
    grid-template-columns: 1fr;
    grid-template-areas: 'a_products' 'a_sidebar';
  }
}

@media only screen and (max-width: 375px) {
}
