<div class="myModal">
    <div class="overlay" [class.active]="modalProducService.ocultarModal">
        <div class="popup" *ngIf="modalProducService.product">
            <button (click)="closeModal()" class="btn-close-popup"><i class="fas fa-times"></i></button>
            <div class="popup-content">
                <div class="image">
                    <img [src]="modalProducService.product.imagen | noImage" alt="">
                </div>
                <div class="detail">
                    <div class="title-detail-price">
                        <h2 class="detail-title">{{ modalProducService.product.nombre }}</h2>
                        <p class="detail-price">
                            <span class="discount" *ngIf="modalProducService.product.precio < modalProducService.product.descuento">Q{{modalProducService.product.descuento}}</span>
                            <span class="price">Q{{modalProducService.product.precio}}</span>
                            <small class="mass">c/{{modalProducService.product.masa}}</small>
                        </p>
                        <!-- <div class="detail-text">{{ modalProducService.product.detalle }}</div> -->
                        <div [innerHTML]="modalProducService.product.detalle | domeseguroProductdetail"></div>
                        <!-- [innerHTML]="producto.detalle | domeseguroProductdetail" -->
                    </div>
                    <div class="incrementador">
                        <app-incrementador></app-incrementador>
                    </div>
                    <div class="options">
                        <form>
                            <div class="form-group">
                              <label>Seleccione la madurez</label>
                              <select class="form-control">
                                <option>Verde (7 días)</option>
                                <option>Normal (3 a 5 días)</option>
                                <option>Madura (Para hoy)</option>
                              </select>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Agregar comentario
                                </label>
                              </div>
                            <div class="form-group">
                              <!-- <label >Agregar comentario</label> -->
                              <textarea class="form-control"></textarea>
                            </div>
                          </form>
                    </div>
                    <div class="button-add">
                        <button>Agregar al carrito</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>