<!-- <div class="container mt-5">
    <p>checkout works!</p>
    <button (click)="logout()">logout</button>
</div> -->
<div class="container">
    <section class="checkout-detail">
        <div class="chekout-data">
            <h2>Datos de cuenta</h2>
            <hr class="mb-3">
            <form [formGroup]="forma">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Correo</label>
                        <input formControlName="correo" name="correo" type="email" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Teléfono</label>
                        <div class="input-group-prepend">
                            <div class="input-group-text">+502</div>
                            <input formControlName="telefono" name="telefono" type="tel" maxlength="8"
                                class="form-control">
                        </div>
                        <small *ngIf="validarCampo('telefono')" class="text-danger">* Teléfono es requerido</small>
                    </div>
                </div>

                <div class="form-group">
                    <label>Nombre</label>
                    <input formControlName="nombre" name="nombre" type="text" class="form-control">
                    <small *ngIf="validarCampo('nombre')" class="text-danger">* Nombre es requerido</small>
                </div>


                <div class="txt-shiping mt-5">
                    <h2>Dirección de entrega</h2>
                    <hr>
                </div>

                <div class="form-row" formGroupName="direccion">
                    <div class="form-group col-md-4">
                        <label>Departamento</label>
                        <select formControlName="departamento" name="departamento" class="form-control">
                            <option *ngFor="let depto of departamento" [value]="depto.key">{{ depto.label }}</option>
                        </select>
                        <small *ngIf="validarCampo('direccion.departamento')" class="text-danger">Departamento es
                            requerido</small>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Municipio</label>
                        <select formControlName="municipio" name="municipio" class="form-control">
                            <option *ngFor="let muni of municipio" [value]="muni.key">{{ muni.key }}</option>
                        </select>
                        <small *ngIf="validarCampo('direccion.municipio')" class="text-danger">Municipio es
                            requerido</small>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Zona</label>
                        <select formControlName="zona" class="form-control">
                            <option *ngFor="let zo of zona" [value]="zo.key">{{ zo.key }}</option>
                        </select>
                        <small *ngIf="validarCampo('direccion.zona')" class="text-danger">Zona es
                            requerido</small>
                    </div>
                    <div class="form-group col-12">
                        <label>Dirección</label>
                        <input formControlName="ubicacion" name="direccion" type="text" class="form-control"
                            placeholder="Dirección">
                        <small *ngIf="validarCampo('direccion.ubicacion')" class="text-danger">Direccion es
                            requerido</small>
                    </div>

                    <div class="form-group col-12">
                        <label>Referencia</label>
                        <input formControlName="referencia" name="referencia" type="text" class="form-control"
                            placeholder="Apartamento, casa">
                    </div>
                </div>


                <!-- <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Check me out
                    </label>
                </div>
            </div> -->
                <div class="txt-shiping mt-3">
                    <h2>Entregar</h2>
                    <hr>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input formControlName="fechaEntreaga" class="form-check-input" type="radio" id="exampleRadios1"
                            value="Lo mas pronto posible" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            Lo mas pronto posible
                        </label>
                    </div>
                    <div class="form-check">
                        <input formControlName="fechaEntreaga" class="form-check-input" type="radio" id="exampleRadios2"
                            value="fecha entrega">
                        <label class="form-check-label" for="exampleRadios2">
                            Elegir fecha
                        </label>
                    </div>
                    <small *ngIf="validarCampo('fechaEntreaga')" class="text-danger">Direccion es
                        requerido</small>
                </div>
                <div class="form-group" *ngIf="forma.get('fechaEntreaga').value === 'fecha entrega'">
                    <input type="text" class="form-control">
                </div>
                <!-- <button type="submit" class="btn btn-primary">Sign in</button> -->
            </form>

            <!-- <button (click)="sendData()" class="btn btn-primary">Sign in</button> -->
        </div>
        <div class="cart-price-detail">
            <app-total-cart-detail></app-total-cart-detail>

            <div class="cart-detail p-3 p-md-4">
                <h3 class="billing-heading mb-4">Método de pago</h3>
                <form [formGroup]="formaPago">


                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="radio">
                                <label><input formControlName="tipoPago" type="radio" value="transferencia"
                                        name="tipoPago" class="mr-2"> Transferencia bancaria
                                    directa</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="radio">
                                <label><input formControlName="tipoPago" type="radio" value="efectivo" name="tipoPago"
                                        class="mr-2"> Efectivo</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="radio">
                                <label><input formControlName="tipoPago" type="radio" value="credito-debito"
                                        name="tipoPago" class="mr-2"> Tarjeta de crédito /
                                    débito</label>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                    <div class="col-md-12">
                        <div class="radio">
                            <label><input type="radio" name="optradio" class="mr-2"> Paypal</label>
                        </div>
                    </div>
                </div> -->
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="checkbox">
                                <label>
                                    <input formControlName="condiciones" type="checkbox" value="aceptadas" class="mr-2">
                                    He leído y acepto los términos y
                                    condiciones</label>
                            </div>
                        </div>
                    </div>
                    <small *ngIf="formaPago.get('tipoPago').invalid && this.formaPago.get('tipoPago').touched"
                        class="text-danger">Seleccione un meotodo de
                        pago</small> <br>
                    <small *ngIf="formaPago.invalid && this.formaPago.get('condiciones').touched"
                        class="text-danger">Acepte los terminos y
                        condiciones</small>


                </form>
                <p><button (click)="hacerPedido()" class="btn btn-primary py-3 px-4">Realizar pedido</button></p>
            </div>

        </div>
    </section>
</div>
<hr>
<pre>
    estado formulario: {{ formaPago.valid }}
    pago: {{ formaPago.value | json}}
</pre>
<!-- <hr>
<pre>
            estado formulario: {{ forma.valid }}
            <br>
            status: {{ forma.status }}
        </pre>

<pre>
            {{ forma.value | json }}
        </pre> -->