<div class="login">
  <div class="l-wrapper">
    <div class="l-content">
      <div class="title">
        <h3>iniciar sesión</h3>
      </div>
      <form [formGroup]="formLogin" class="form">
        <div class="my-form">
          <label>Ingrese su correo electrónico</label>
          <input formControlName="email" type="email" placeholder="Correo" />
          <span *ngIf="validateField('email')"
            >* requerido, ej: ejemplo@correo.com</span
          >
        </div>
        <div class="my-form">
          <label>Ingrese su contraseña</label>
          <input
            formControlName="password"
            type="password"
            placeholder="Contraseña"
          />
          <span *ngIf="validateField('password')"
            >* requerido, la contraseña debe tener minimo 6 caracteres</span
          >
        </div>
        <div class="options">
          <div class="remember">
            <input
              formControlName="userRemember"
              type="checkbox"
              id="remember"
            />
            <label for="remember">recordar mi usuario</label>
          </div>
        </div>
        <div class="button">
          <button (click)="btnlogin()" class="btn-login">iniciar sesión</button>
        </div>
        <div class="button">
          <a routerLink="/auth/register" class="btn-create-account"
            >crear cuenta</a
          >
        </div>

        <div class="forgot-password">
          <button (click)="forgotPassword()">olvidé mi contraseña</button>
        </div>
      </form>
    </div>
  </div>
</div>
