@import '../../../../variables.scss';

.floating {
  .fab {
    position: fixed;
    bottom: 32px;
    right: 12px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: $primary;
    box-shadow: 1px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #fff;
    &:hover {
      cursor: pointer;
    }

    @media screen and (min-width: 769px) {
      display: none;
    }
  }

  .box {
    display: none;
    position: fixed;
    bottom: 175px;
    right: 30px;
    height: 290px;
    // height: 0px;
    transition-delay: 0.3s;
    width: 200px;
    transition: 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    // display: flex;
    flex-direction: column;
    justify-content: space-between;

    .active {
      background-color: $primary;
      border-color: $primary;
      a {
        color: $white;
        text-decoration: none;
      }
    }
    a {
      color: $primary;
      text-decoration: none;
      text-transform: capitalize;
    }
    .active {
      background-color: $primary;
      border-color: $primary;
      a {
        color: $white;
        text-decoration: none;
      }
    }
  }

  .box-active {
    display: flex;
  }
}
