<section class="top-head">
    <div class="top-head-wrapper">
        <div class="top-head-content">
            <div class="item">
                <span><i class="fas fa-phone-alt"></i>
                <a  href="tel:+50251367524">+502 5136-7524</a></span>
            </div>
            <div class="item">
                <span>Entregamos pedidos de lunes a sábado</span>
                <span>de 10:00 am a 5:00 pm</span>
            </div>
            <div class="item">
                <span><i class="fas fa-paper-plane"></i></span>
                <a href="mailto:info@vegetalgo.com">info@vegetalgo.com</a>
            </div>
        </div>
    </div>
</section>