<app-banner></app-banner>


<div class="como-funciona-productos">

    <section class="como-funciona mt-5 mb-5">
        <app-como-funciona></app-como-funciona>
    </section>

    <section class="container prod-categorias">
        <div class="category">
            <div class="item-1">
                <img (click)="navigateTo('verduras')" src="assets/images/category-1.jpg" alt="">
                <div class="texto-encima">
                    <a routerLink="/productos/categoria/verduras">Verduras</a>
                </div>
            </div>
            <div class="item-2">
                <img (click)="navigateTo('verduras')" src="assets/images/category.jpg" alt="">
                <div class="container-detail">
                    <h2>Vegetales</h2>
                    <button (click)="navigateTo('busqueda')" class="btn btn-comprar">Encuentra lo que necesitas</button>
                </div>
            </div>
            <div class="item-3">
                <img (click)="navigateTo('frutas')" src="assets/images/category-2.jpg" alt="">
                <div class="texto-encima">
                    <a routerLink="/productos/categoria/frutas">Frutas</a>
                </div>
            </div>
            <div class="item-4">
                <img (click)="navigateTo('especies')" src="assets/images/category-5.jpg" alt="">
                <div class="texto-encima">
                    <a routerLink="/productos/categoria/especies">Especias</a>
                </div>
            </div>
            <div class="item-5">
                <img (click)="navigateTo('semillas')" src="assets/images/category-4.jpg" alt="">
                <div class="texto-encima">
                    <a routerLink="/productos/categoria/semillas">Semillas</a>
                </div>
            </div>
        </div>
    </section>
</div>

<section class="container mb-5">
    <div *ngIf="cargando" class="loading mt-5">
        <app-loading></app-loading>
    </div>
    <div *ngIf="!cargando" class="container-products">
        <div class="featured-products-title">
            <span class="subheading">Productos destacados</span>
            <h2 class="mb-4">Nuestros productos</h2>
        </div>
        <div class="featured-products">
            <ng-container *ngFor="let prod of productos">
                <app-card-product [producto]="prod"></app-card-product>
            </ng-container>
        </div>
    </div>

</section>
<section class="container my-padding">
    <div class="services">
        <div class="contenido">
            <div class="icon-1">
                <span class="flaticon-shipped"></span>
            </div>

            <h3>Envío gratis </h3>
            <span>En pedidos de más de Q100</span>
        </div>
        <div class="contenido">
            <div class="icon-2">
                <span class="flaticon-diet"></span>
            </div>
            <h3>Siempre fresco</h3>
            <span>Producto bien empaquetado</span>
        </div>
        <div class="contenido">
            <div class="icon-3">
                <span class="flaticon-award"></span>
            </div>
            <h3>Sello de calidad</h3>
            <span>Productos de calidad</span>
        </div>
        <div class="contenido">
            <div class="icon-4">
                <span class="flaticon-customer-service"></span>
            </div>
            <h3>Soporte</h3>
            <span>Soporte 24/7</span>
        </div>
    </div>
</section>
<section class="whatsapp">
    <app-whatsapp></app-whatsapp>
</section>