@import '../../../../../variables.scss';

a {
  transition: 0.3s all ease;
  color: $primary;
  &:hover,
  &:focus {
    text-decoration: none;
    color: $primary;
  }
}

.my-padding {
  padding: 6em 0;
  .services {
    display: grid;
    // grid-template: 1fr / repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 'item1 item2 item3 item4';
    justify-content: center;
    justify-items: center;
    text-align: center;
    .contenido {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .icon-1 {
        grid-area: item1;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color-1;
        border-radius: 50%;
        height: 100px;
        width: 100px;

        .flaticon-shipped {
          font-size: 50px;
          color: #fff;
          border-radius: 50%;
        }

        ::before {
          border: 1px solid #fff;
          border-radius: 50%;
          padding: 15px;
        }
        &:hover {
          background-color: $primary;
        }
      }
      .icon-2 {
        grid-area: item2;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color-2;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        .flaticon-diet {
          font-size: 50px;
          color: #fff;
          border-radius: 50%;
        }
        ::before {
          border: 1px solid #fff;
          border-radius: 50%;
          padding: 15px;
        }
        &:hover {
          background-color: $primary;
        }
      }
      .icon-3 {
        grid-area: item3;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color-3;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        .flaticon-award {
          font-size: 50px;
          color: #fff;
          border-radius: 50%;
        }
        ::before {
          border: 1px solid #fff;
          border-radius: 50%;
          padding: 15px;
        }
        &:hover {
          background-color: $primary;
        }
      }
      .icon-4 {
        grid-area: item4;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color-4;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        .flaticon-customer-service {
          font-size: 50px;
          color: #fff;
          border-radius: 50%;
        }
        ::before {
          border: 1px solid #fff;
          border-radius: 50%;
          padding: 15px;
        }
        &:hover {
          background-color: $primary;
        }
      }
      h3 {
        margin-top: 10px;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 500;
        font-family: 'Poppins', Arial, sans-serif;
        color: $black;
      }
      span {
        text-transform: uppercase;
        color: rgba($color: #000000, $alpha: 0.5);
        font-size: 12px;
        font-weight: 500;
      }
    }
  }
}

// <== categorias ==> //

@mixin texto-encima {
  .texto-encima {
    background-color: #82ad47;
    position: absolute;
    text-align: center;
    bottom: 0px;
    left: 0px;
    a {
      padding: 10px;
      color: #fff;
      font-size: 18px;
      font-family: 'Poppins', Arial, sans-serif;
    }
  }
}

@mixin imagen {
  img {
    width: 100%;
    height: 100%;
  }
}

.category {
  display: grid;
  //grid-template: 1fr 1fr / 1fr 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-row: repeat(2, auto);
  // grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  grid-template-areas:
    'fruit shop_now juice'
    'vegetables shop_now dried';

  .item-1 {
    position: relative;
    display: inline-block;
    grid-area: fruit;
    @include imagen;
    @include texto-encima;
  }
  .item-2 {
    position: relative;
    grid-area: shop_now;
    @include imagen;
    .container-detail {
      position: absolute;
      width: 100%;
      height: 50%;
      top: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      h2 {
        color: #82ae46;
        font-family: $font-secondary;
        font-style: italic;
        font-size: 24px;
      }
      .btn-comprar {
        background-color: $primary;
        border: 1px solid $primary;
        font-family: $font-primary;
        color: #fff;
      }
      :hover {
        background-color: #fff;
        color: $primary;
      }
    }
  }
  .item-3 {
    position: relative;
    grid-area: juice;
    @include imagen;
    @include texto-encima;
  }
  .item-4 {
    position: relative;
    grid-area: vegetables;
    @include imagen;
    @include texto-encima;
  }
  .item-5 {
    position: relative;
    grid-area: dried;
    @include imagen;
    @include texto-encima;
  }
}

// <============= featured products =============> //
.featured-products-title {
  margin: 100px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .subheading {
    font-size: 18px;
    font-family: $font-secondary;
    color: $primary;
    font-style: italic;
  }
  h2 {
    font-size: 40px;
    font-weight: 600;
    color: $black;
    font-family: $font-primary;
  }
}

.featured-products {
  margin-top: 30px;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
// <====== responsive =======> //
// <============= Media Queries =============> //

@media only screen and (max-width: 768px) {
  .services {
    background-color: red;
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-rows: 1fr 1fr !important;
    grid-template-areas:
      'item1 item2'
      'item3 item4' !important;
  }

  .category {
    grid-template-columns: repeat(2, 1fr);
    grid-row: repeat(3, auto);
    grid-template-areas:
      'shop_now fruit'
      'shop_now juice'
      'vegetables dried';
  }
}

@media only screen and (max-width: 375px) {
  .my-padding {
    padding: 0px !important;
    .services {
      display: none !important;
    }
  }

  .category {
    grid-template-columns: repeat(1, 1fr);
    grid-row: repeat(5, auto);
    grid-template-areas:
      'shop_now'
      'fruit'
      'juice'
      'vegetables'
      'dried';
  }
}
