@import '../../../../../variables.scss';
.organicos {
  padding-top: 50px;
  .organicos__item {
    &-title {
      h3 {
        position: relative;
        text-transform: uppercase;
        border-bottom: 3px solid $primary;
      }
    }
    &-body {
      .featured-products {
        margin-top: 30px;
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        @media screen and (max-width: 770px) {
          grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        }
        @media screen and (max-width: 500px) {
          grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
        }
      }
    }
  }
}
