<section class="organicos">
    <div class="container">

        <!-- ============================================ -->
        <!-- Café -->
        <!-- ============================================ -->
        <section class="organicos__item">
            <div class="organicos__item-title">
                <h3>Café</h3>
            </div>
            <div class="organicos__item-body">
                <div *ngIf="cargando" class="loading mt-5">
                    <app-loading></app-loading>
                </div>
                <div *ngIf="!cargando" class="container-products">
                    <div class="featured-products">
                        <ng-container *ngFor="let prod of productos">
                            <ng-container *ngIf="prod['subcategoria'] === 'cafe'">
                                <app-card-product [producto]="prod"></app-card-product>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </div>
        </section>
        <!-- ============================================ -->
        <!-- fin Café -->
        <!-- ============================================ -->

        <!-- ============================================ -->
        <!-- Chocolate -->
        <!-- ============================================ -->
        <section class="organicos__item mt-5">
            <div class="organicos__item-title">
                <h3>Chocolate</h3>
            </div>
            <div class="organicos__item-body">
                <div *ngIf="cargando" class="loading mt-5">
                    <app-loading></app-loading>
                </div>
                <div *ngIf="!cargando" class="container-products">
                    <div class="featured-products">
                        <ng-container *ngFor="let prod of productos">
                            <ng-container *ngIf="prod['subcategoria'] === 'chocolate'">
                                <app-card-product [producto]="prod"></app-card-product>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </div>
        </section>
        <!-- ============================================ -->
        <!-- fin Chocolate -->
        <!-- ============================================ -->

        <!-- ============================================ -->
        <!-- Jugos -->
        <!-- ============================================ -->
        <section class="organicos__item mt-5">
            <div class="organicos__item-title">
                <h3>Jugos</h3>
            </div>
            <div class="organicos__item-body">
                <div *ngIf="cargando" class="loading mt-5">
                    <app-loading></app-loading>
                </div>
                <div *ngIf="!cargando" class="container-products">
                    <div class="featured-products">
                        <ng-container *ngFor="let prod of productos">
                            <ng-container *ngIf="prod['subcategoria'] === 'jugos'">
                                <app-card-product [producto]="prod"></app-card-product>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </div>
        </section>
        <!-- ============================================ -->
        <!-- fin jugos -->
        <!-- ============================================ -->

        <!-- ============================================ -->
        <!-- huevos -->
        <!-- ============================================ -->
        <section class="organicos__item mt-5">
            <div class="organicos__item-title">
                <h3>Huevos</h3>
            </div>
            <div class="organicos__item-body">
                <div *ngIf="cargando" class="loading mt-5">
                    <app-loading></app-loading>
                </div>
                <div *ngIf="!cargando" class="container-products">
                    <div class="featured-products">
                        <ng-container *ngFor="let prod of productos">
                            <ng-container *ngIf="prod['subcategoria'] === 'huevos'">
                                <app-card-product [producto]="prod"></app-card-product>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </div>
        </section>
        <!-- ============================================ -->
        <!-- fin huevos -->
        <!-- ============================================ -->


        <!-- ============================================ -->
        <!-- Cafe Miel -->
        <!-- ============================================ -->
        <section class="organicos__item mt-5">
            <div class="organicos__item-title">
                <h3>Miel</h3>
            </div>
            <div class="organicos__item-body">
                <div *ngIf="cargando" class="loading mt-5">
                    <app-loading></app-loading>
                </div>
                <div *ngIf="!cargando" class="container-products">
                    <div class="featured-products">
                        <ng-container *ngFor="let prod of productos">
                            <ng-container *ngIf="prod['subcategoria'] === 'miel'">
                                <app-card-product [producto]="prod"></app-card-product>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </div>
        </section>
        <!-- ============================================ -->
        <!-- fin Miel -->
        <!-- ============================================ -->

        <!-- ============================================ -->
        <!-- Cafe Semillas -->
        <!-- ============================================ -->
        <section class="organicos__item mt-5">
            <div class="organicos__item-title">
                <h3>Semillas</h3>
            </div>
            <div class="organicos__item-body">
                <div *ngIf="cargando" class="loading mt-5">
                    <app-loading></app-loading>
                </div>
                <div *ngIf="!cargando" class="container-products">
                    <div class="featured-products">
                        <ng-container *ngFor="let prod of productos">
                            <ng-container *ngIf="prod['subcategoria'] === 'semillas'">
                                <app-card-product [producto]="prod"></app-card-product>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </div>
        </section>
        <!-- ============================================ -->
        <!-- fin Semillas -->
        <!-- ============================================ -->

        <!-- ============================================ -->
        <!-- Cafe Soya -->
        <!-- ============================================ -->
        <section class="organicos__item mt-5">
            <div class="organicos__item-title">
                <h3>Soya</h3>
            </div>
            <div class="organicos__item-body">
                <div *ngIf="cargando" class="loading mt-5">
                    <app-loading></app-loading>
                </div>
                <div *ngIf="!cargando" class="container-products">
                    <div class="featured-products">
                        <ng-container *ngFor="let prod of productos">
                            <ng-container *ngIf="prod['subcategoria'] === 'soya'">
                                <app-card-product [producto]="prod"></app-card-product>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </div>
        </section>
        <!-- ============================================ -->
        <!-- fin soya -->
        <!-- ============================================ -->

        <div class="mb-5"></div>

    </div>
</section>

<app-floating-button></app-floating-button>