<div class="container">
    <section class="title">
        <h2>¡Hola Edwin!</h2>
        <p>Bienvenido a tu cuenta en vegefoods.com, actualiza tu información, mira tus pedidos y mucho más</p>

        <mat-card class="card-account">

            <h3 class="title-card">Mi Cuenta</h3>

            <mat-card-content>
                <div class="card-content">
                    <strong>Nombre completo</strong>
                    <span>Edwin Isaac Hernández González</span>
                </div>
                <div class="card-content">
                    <strong>Correo</strong>
                    <span>edgon85@gmail.com</span>
                </div>
                <div class="card-content">
                    <strong>Teléfono</strong>
                    <span>+502 12345678</span>
                </div>

            </mat-card-content>
            <mat-card-actions>
                <button routerLink="/cuenta/editar" class="btn btn-edit">Editar</button>
            </mat-card-actions>
        </mat-card>
    </section>
</div>