<section class="organicos">
    <div class="container">

        <!-- ============================================ -->
        <!-- res -->
        <!-- ============================================ -->
        <section class="organicos__item">
            <div class="organicos__item-title">
                <h3>Res</h3>
            </div>
            <div class="organicos__item-body">
                <div *ngIf="cargando" class="loading mt-5">
                    <app-loading></app-loading>
                </div>
                <div *ngIf="!cargando" class="container-products">
                    <div class="featured-products">
                        <ng-container *ngFor="let prod of productos">
                            <ng-container *ngIf="prod['subcategoria'] === 'res'">
                                <app-card-product [producto]="prod"></app-card-product>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </div>
        </section>
        <!-- ============================================ -->
        <!-- fin res -->
        <!-- ============================================ -->

        <!-- ============================================ -->
        <!-- Pollo -->
        <!-- ============================================ -->
        <section class="organicos__item mt-3">
            <div class="organicos__item-title">
                <h3>Pollo</h3>
            </div>
            <div class="organicos__item-body">
                <div *ngIf="cargando" class="loading mt-5">
                    <app-loading></app-loading>
                </div>
                <div *ngIf="!cargando" class="container-products">
                    <div class="featured-products">
                        <ng-container *ngFor="let prod of productos">
                            <ng-container *ngIf="prod['subcategoria'] === 'pollo'">
                                <app-card-product [producto]="prod"></app-card-product>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </div>
        </section>
        <!-- ============================================ -->
        <!-- Pollo res -->
        <!-- ============================================ -->

        <div class="mb-5"></div>

    </div>
</section>

<app-floating-button></app-floating-button>