
<section class="pestanias">
    <button #eyelashBeef (click)="selectEyelashBeef()" class="link">Res</button>
    <button #eyelashChicken (click)="selectEyelashChicken()" class="link">Pollo</button>
    <button #eyelashSeaFood (click)="selectEyelashSeaFood()" class="link">Mariscos</button>
    <!-- <button #eyelash3 (click)="selectEyelash3()" class="link premesclado">mortero premesclado</button>
    <button #eyelash4 (click)="selectEyelash4()" class="link general">concreto uso general</button>
    <button #eyelash5 (click)="selectEyelash5()" class="link vivienda">concretos para vivienda</button> -->
</section>


<section class="organicos">
    <div class="container">

        <!-- ============================================ -->
        <!-- res -->
        <!-- ============================================ -->
        <section class="organicos__item" *ngIf="btnBeef">
            <div class="organicos__item-title">
                <h3>Carne de res</h3>
            </div>
            <div class="organicos__item-body">
                <div *ngIf="cargando" class="loading mt-5">
                    <app-loading></app-loading>
                </div>
                <div *ngIf="!cargando" class="container-products">
                    <div class="featured-products">
                        <ng-container *ngFor="let prod of productos">
                            <ng-container *ngIf="prod['subcategoria'] === 'res'">
                                <app-card-product [producto]="prod"></app-card-product>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </div>
        </section>
        <!-- ============================================ -->
        <!-- fin res -->
        <!-- ============================================ -->

        <!-- ============================================ -->
        <!-- Pollo -->
        <!-- ============================================ -->
        <section class="organicos__item" *ngIf="btnChicken">
            <div class="organicos__item-title">
                <h3>Carne de pollo</h3>
            </div>
            <div class="organicos__item-body">
                <div *ngIf="cargando" class="loading mt-5">
                    <app-loading></app-loading>
                </div>
                <div *ngIf="!cargando" class="container-products">
                    <div class="featured-products">
                        <ng-container *ngFor="let prod of productos">
                            <ng-container *ngIf="prod['subcategoria'] === 'pollo'">
                                <app-card-product [producto]="prod"></app-card-product>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </div>
        </section>
        <!-- ============================================ -->
        <!-- Pollo res -->
        <!-- ============================================ -->

        <!-- ============================================ -->
        <!-- Mariscos -->
        <!-- ============================================ -->
        <section class="organicos__item" *ngIf="btnSeaFood">
            <div class="organicos__item-title">
                <h3>Mariscos</h3>
            </div>
            <div class="organicos__item-body">
                <div *ngIf="cargando" class="loading mt-5">
                    <app-loading></app-loading>
                </div>
                <div *ngIf="!cargando" class="container-products">
                    <div class="featured-products">
                        <ng-container *ngFor="let prod of productos">
                            <ng-container *ngIf="prod['subcategoria'] === 'mariscos'">
                                <app-card-product [producto]="prod"></app-card-product>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </div>
        </section>
        <!-- ============================================ -->
        <!-- Pollo res -->
        <!-- ============================================ -->

        <div class="mb-5"></div>

    </div>
</section>

<app-floating-button></app-floating-button>