<div class="contenedor">
    <div class="swiper-container owl-carousel">
        <div class="swiper-wrapper">
            <ng-container *ngFor="let data of banerData">
                <div class="swiper-slide animated fadeInDown"
                    [ngStyle]="{'background-image': 'url(' + data.image + ')'}">
                    <div class="overlay">
                        <div class="contenido">
                            <h1 class="mb-2">{{ data.title }}</h1>
                            <h2 class="subheading mb-4">{{ data.subtitle}}</h2>
                            <p><a routerLink="/productos/categoria/verduras" class="btn btn-comprar">Ver productos</a>
                            </p>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>