<div class="container">
    <div class="contenedor">
        <div class="title">
            <h2>¿Cómo funciona?</h2>
        </div>
        <div (click)="irProductos('seleccionar')" class="content selecciona-producto">
            <img src="assets/images/icons/elegir_producto.png" alt="">
            <h3>Selecciona tus productos</h3>
            <p>¡Frescos, del mercado, Seleccioná los productos de nuestro catálogo que quieras comprar y agregalos a
                tu carrito.</p>
        </div>
        <div (click)="irProductos('finalizar')" class="content finaliza-compra">
            <img src="assets/images/icons/compra_finalizada.png" alt="">
            <h3>Finalizá tu compra</h3>
            <p>Cuando tengas tu carrito lleno, pasa a caja, inciá sesión con tus datos o registrate si estás comprando
                por primera vez, y selecciona la forma de pago
                que prefieras usar: efectivo, transferencia o tarjeta de crédito/débito… y listo.</p>
        </div>
        <div (click)="irProductos('enviar')" class="content lo-enviamos">
            <img src="assets/images/icons/envio.png" alt="">
            <h3>¡Te lo entregamos!</h3>
            <p>Marcá la fecha y horario que prefieras entre las opciones disponibles y recibe tu pedido en tu casa,
                trabajo o la dirección que tú elijas.</p>
        </div>
    </div>
</div>