<div *ngIf="producto">
    <app-header-product titulo="Detalle de {{ producto.nombre }}"></app-header-product>
</div>

<section class="container loading" *ngIf="!producto">
    <app-loading></app-loading>
</section>

<section class="single-product container" *ngIf="producto">
    <div class="image-section">
        <div class="image">
            <img [src]="producto.imagen | noImage" alt="">
        </div>
    </div>
    <div class="description">
        <h3>{{ producto.nombre }}</h3>
        <p class="price">
            <span>Q{{ producto.precio | number: '1.2': 'en'}}</span>
            <span *ngIf="producto.precio < producto.descuento"
                class="discount">Q{{ producto.descuento | number: '1.2':'en'}}</span>
            <samp class="masa">c/{{producto.masa}}</samp>
        </p>
        <!-- <p class="detail">{{ producto.detalle }}</p> -->
        <div class="prod-detail">
            <div [innerHTML]="producto.detalle | domeseguroProductdetail"></div>
        </div>

        <div *ngIf="!estaEnCarrito" class="contador">
            <app-incrementador (actualizaValor)="cantidadProductDetail = $event"
                [progresoIncrementador]="cantidadProductDetail">
            </app-incrementador>
        </div>
        <p>
            <button *ngIf="!estaEnCarrito" (click)="addToCart()" class="btn btn-black">agregar a carrito</button>
        </p>
        <div *ngIf="estaEnCarrito" class="redirect-button mb-5">
            <a class="btn btn-seguir-comprando" [routerLink]="[seguirComprandoURl]">Seguir comprando</a>
            <a class="btn btn-ir-carrito" routerLink="/cart">Ir al carrito</a>
        </div>
    </div>
</section>