@import '../../../../../variables.scss';

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
}

.single-product {
  min-height: 70vh;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  margin-top: 10px;
  grid-template-areas: 'imagen descripcion';

  .image-section {
    grid-area: imagen;
    .image {
      width: 100%;
      img {
        width: 100%;
        vertical-align: top;
      }
    }
  }

  .description {
    grid-area: descripcion;
    display: flex;
    flex-direction: column;
    // justify-content: space-evenly;
    h3 {
      font-weight: 400;
      font-size: 30px;
      font-family: $font-primary;
      color: $black;
      text-transform: capitalize;
      padding-top: 50px;
    }
    .price {
      margin-bottom: 1rem;
      border-bottom: 1px solid lighten($black, 90%);
      .discount {
        text-decoration: line-through;
        color: lighten($black, 70%);
        margin-left: 20px;
      }
      .masa {
        font-size: 20px;
        // text-transform: capitalize;
        margin-left: 10px;
      }
      span {
        font-size: 30px;
        color: $black;
      }
    }
    .prod-detail {
      min-height: 200px;
      ul::slotted {
        list-style-type: none !important;
        li {
          list-style-type: none;
          font-size: 8px;
          color: lighten($black, 70%);
        }
      }
    }

    .contador {
      padding-top: 10px;
      padding-bottom: 10px;
      width: 200px;
      span {
        margin-left: 70px;
        text-transform: capitalize;
      }
    }

    .btn-black {
      background-color: $black;
      border: 1px solid $black;
      color: $white;
      border-radius: 30px;
      box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.2);
      padding: 1rem;
      text-transform: capitalize;
    }

    .redirect-button {
      .btn-seguir-comprando {
        background-color: $primary;
        color: $white;
        margin-right: 20px;
        border-radius: 30px;
        box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.2);
      }
      .btn-ir-carrito {
        background-color: $color-4;
        color: $black;
        border-radius: 30px;
        box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  //  grid-template-columns: repeat(2, 50%);

  .single-product {
    grid-template-columns: 100%;
    grid-template-areas: 'imagen' 'descripcion';
    row-gap: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .description {
    .prod-detail {
      min-height: 100px !important;
    }
  }
}
