<section class="single-product container">
    <div class="image-section">
        <div class="image">
            <img src="assets/images/product-1.jpg" alt="">
        </div>
    </div>
    <div class="description">
        <h3>nombre del product</h3>
        <p class="price">
            <span>Q120.00</span>
        </p>
        <p class="detail">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non accusantium repellendus
            inventore quos nihil
            repudiandae dolorum. Temporibus deleniti, odit assumenda qui cupiditate aspernatur consequatur sequi
            voluptates, vel voluptas, quam explicabo!</p>

        <div class="contador">
            <app-incrementador [progresoIncrementador]="progresoProductDetail"></app-incrementador>
        </div>
        <p>
            <button class="btn btn-black">agregar a carrito</button>
        </p>
    </div>
</section>