<section class="terminos-y-condiciones">
    <div class="container">
        <div class="contenido">
            <h2>Términos y condiciones</h2>
            <p>Al acceder o utilizar esta página web y requerir los servicios, usted está de acuerdo a los términos de
                uso,
                así como término y condiciones, estos podrían ser actualizados y modificados algunas veces. Además, al
                usted
                utilizar esta página como compras para sus necesidades del hogar. Debe usted aceptar cualquier término
                o
                condición del uso en esta página. Por favor lea cuidadosamente los términos de uso como información
                importante sobre limitaciones de responsabilidad.</p>

            <h5>Cuenta</h5>
            <p>Al crear una cuenta para comprar en línea, entregas de forma legítima y de manera voluntaria tu
                información a beggefood, quien podrá utilizar la misma para formar un registro excluyendo la información
                de pago.
                Tu información no será compartida de ninguna forma con empresas ajenas a BeggeFoods.</p>

            <h5>Envío a domicilio</h5>
            <div>
                <ul>
                    <li>Nuestros horarios de atención son de 9:00 am a 5:00 pm.</li>
                    <li>Recibimos su pedido hasta las 12:00 p.m. y se le entregará en el transcurso de la tarde o a más
                        tardar a las 9:00 a.m. del día siguiente.</li>
                    <li>El plazo de entrega de su pedido es de 3 a 4 horas desde que se realiza el pedido.</li>
                    <li>Si por algún motivo el pedido se tuviera que retrasar nos pondremos en contacto con usted para
                        comunicárselo.</li>
                    <li>Una vez realizado el pedido, no es permitido realizar algún cambio en la dirección de envío,
                        salvo que el cliente corra con los gastos y sea aceptado por ambas partes</li>
                    <li>El costo del envió menores de 100 va a ser de Q12</li>
                    <li>Los enviós menores a Q100.00 tienen un costo</li>
                    <li>La factura solo será enviada por medio electrónico y por el precio de envío, no por el precio de
                        productos.</li>
                    <li>El cliente deberá mostrar el numero de orden que se le enviará por coreo para que se le haga
                        entrega del pedido.</li>
                </ul>
            </div>
            <h5>Devoluciones:</h5>
            <div>
                <ul>
                    <li>Si su producto está en malas condiciones, no es el producto que pidió, no cumple con sus
                        expectativas en calidad o el
                        producto no llegó, se le dará un reembolso y nos comunicaremos con usted.</li>
                    <li>Para solicitar un reembolso debes presentar la factura original y el producto reclamado, si ese
                        fuera su caso.</li>
                </ul>
            </div>

        </div>
    </div>

</section>