<section class="terminos-y-condiciones">
    <div class="container">
        <div class="contenido">
            <h2>Términos y condiciones</h2>
            <p>Al acceder o utilizar esta página web y requerir nuestros servicios, usted está de acuerdo a los términos
                de
                uso y condiciones, los cuales pueden ser actualizados y modificados algunas veces.
                Por favor lea cuidadosamente los términos de uso e información importante sobre limitaciones de
                responsabilidad.</p>

            <h5>Cuenta</h5>
            <p>Al crear una cuenta para comprar en línea, usted entrega de forma legítima y de manera voluntaria su
                información a Mangolimon, quien podrá utilizar la misma para formar un registro excluyendo la
                información
                de pago.
                Su información no será compartida de ninguna forma con empresas ajenas a VegetalGO.</p>

            <h5>Envío a domicilio</h5>
            <div>
                <ul>
                    <li>Nuestros horarios de atención son de 9:00 a.m a 5:00 p.m.</li>
                    <li>Debido al Covid-19 y según disposición presidencial sobre los horarios de los mercados:
                        recibimos su pedido de 7:00 a.m hasta las 12:00 p.m. y se le entregará en nuestros horarios de
                        atención regular.</li>
                    <li>El plazo de entrega de sus productos es de 3 a 4 horas desde que se realiza el pedido.</li>
                    <li>Si por algún motivo su pedido se retrasa, nos pondremos en contacto con usted para
                        comunicárselo.</li>
                    <li>Una vez realizado el pedido, no es permitido realizars cambios en la dirección de envío,
                        salvo que el cliente corra con los gastos y sea aceptado por ambas partes.</li>
                    <li>Pedidos menores a Q100 tendrán un costo de envío.</li>
                    <li>El cliente deberá mostrar el número de orden que se le enviará por correo para entregarle del
                        pedido.</li>
                </ul>
            </div>
            <h5>Devoluciones:</h5>
            <div>
                <ul>
                    <li>Si su producto está en malas condiciones, no es el producto que pidió o el
                        producto no llegó, se le dará un reembolso y nos comunicaremos con usted.</li>
                    <li>Para solicitar un reembolso debe presentar el comprobante de la orden y el producto reclamado,
                        si ese
                        fuera su caso.</li>
                </ul>
            </div>

        </div>
    </div>

</section>