<!-- <div *ngFor="let product of products$ | async">
    <h3>producto: {{ product.product.nombre }}</h3>
    <span>cantidad: {{ product.quantity }}</span>
</div> -->


<section class="carrito-detail">
    <div class="cart-list">
        <div class="responsiveTbl">
            <table>
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="image">
                                <img src="assets/images/product-3.jpg" alt="">
                            </div>
                        </td>
                        <td>
                            <div class="nombre-detalle">
                                <strong>Platanos verdes</strong>
                                <span>Detalle del producto que va a comprar para su casa de campo </span>
                            </div>
                        </td>
                        <!-- <td><span class="price">£40 / hr</span></td> -->
                        <td>Q 9.90</td>
                        <td>1</td>
                        <td><strong>Q 9.90</strong></td>
                        <td><button class="btn"><i class="far fa-trash-alt"></i></button></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="image">
                                <img src="assets/images/product-3.jpg" alt="">
                            </div>
                        </td>
                        <td>Platanos verdes</td>
                        <!-- <td><span class="price">£40 / hr</span></td> -->
                        <td>Q 9.90</td>
                        <td>1</td>
                        <td>Q 9.90</td>
                        <td><button class="btn"><i class="far fa-trash-alt"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="cart-price-detail">
        <div class="cart-wrap ftco-animate fadeInUp ftco-animated">
            <div class="cart-total mb-3">
                <h3>Total de compras</h3>
                <p class="d-flex">
                    <span>Subtotal</span>
                    <span>Q20.60</span>
                </p>
                <p class="d-flex">
                    <span>Envío</span>
                    <span>Q12.00</span>
                </p>
                <p class="d-flex">
                    <span>Descuento</span>
                    <span>Q0.00</span>
                </p>
                <hr>
                <p class="d-flex total-price">
                    <span>Total</span>
                    <span>Q17.60</span>
                </p>
            </div>
            <p><button class="btn-pagar">Pasar a caja</button></p>
        </div>
    </div>
</section>